<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div id="app">
            <span :title="message">
                Hover your mouse over me for a few second to see a title
            </span>

            <p v-if="visible">
                Can You See Me?
            </p>

            <p>
                <ol>
                    <li v-for="t in tasks">
                        {{ t.description }}
                    </li>
                </ol>
            </p>

            <button @click="add_counter">Add 2</button>
            <p> The button above has been clicked {{counter}} times. </p>

            <p>Enter some words: <input v-model="message"></input></p>
            <button @click="say(message)">Say "{{message}}"</button>


        </div>

        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="index.js"></script>
    </body>
</html>
