{% extends 'base.html' %}
{% block MainContainer %}

        <h2>All Books</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Summary</th>
                    <th>ISBN</th>
                </tr>
                </thead>
                <tbody>
                {% for book in object_list %}
                    <tr>
                        <td><a href="{% url 'book_detail' book.pk %}"> {{ book.title }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.summary }}</td>
                        <td>{{ book.ISBN }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number}}">Previous</a>
                        </li>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
{% endblock %}
