<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
		<meta charset="UTF-8">
		<title>All Books</title>
		<style>
			body {
				font-size: 2em;
				background-color: #fbecde;
				color: #fbb612;
				font-family: "Inconsolata";
				text-align: center;
			}
			h1 {
				color: #ee8055;
			}
			h2 {
				color: #f86b1d;
			}
		</style>
	</head>
	<body>
		<h1>Books Info</h1>
		{% for book in books %}
		<li> <a href="/books/{{ book.id }}"> {{ book.bTitle }} </a> </li>
		{% endfor %}

	</body>
</html>
